.badge-notification {
    padding: 0.7rem;

}

.badge-notification button,
.badge-inbox button,
.badge-profile button {
    background-color: rgb(56, 128, 221);
    color: white;
    padding: 0.7rem;
    border-radius: 5px;
    border: transparent;
    position: relative;

}

.badge-notification button {
    padding-right: 2rem;

}

.marker-notification {
    position: absolute;
    background-color: rgba(85, 85, 83, 0.788);
    right: 8px;
    top: 8px;
    padding: 3px 5px;
    border-radius: 2px;
}

.badge-inbox {
    padding: 0.7rem;
}

.marker-inbox {
    position: absolute;
    right: -15px;
    top: -8px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: rgb(230, 76, 76);
}

.badge-profile {
    padding: 0.7rem;

}

.marker-profile {
    position: absolute;
    right: -8px;
    top: -5px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(230, 76, 76);
}

.badge-icon {
    position: relative;
    width: 2.18rem;
    height: 2.18rem;
}

.badge-icon svg {
    width: 2.18rem;
    height: 2.18rem;
}

.marker-icon {
    position: absolute;
    right: -3px;
    top: -4px;
    padding: 1px 4px;
    border-radius: 15px;
    background-color: rgb(230, 76, 76);
    color: white;
}